
{% extends "base.html" %}

{% load static %} 

{% block content %}

<script type="text/javascript">
$(document).ready( function () {

  

    $('#table_id0').DataTable({
            "searching": false,
            "paging"   : false,
            "info"     : false, 
             "ordering": false

    });
    $('#table_id1').DataTable({
            "searching": false,
            "paging"   : false,
            "info"     : false, 
             "ordering": false

    });
    $('#table_id2').DataTable({
            "searching": false,
            "paging"   : false,
            "info"     : false, 
             "ordering": false

    });
    $('#table_id3').DataTable({
            "searching": false,
            "paging"   : false,
            "info"     : false, 
             "ordering": false

    });
    $('#table_id4').DataTable({
            "searching": false,
            "paging"   : false,
            "info"     : false, 
             "ordering": false

    });

} );


 </script>

<!-- User Type -->

<script type="text/javascript"> count = 0 </script>
{% for sight in sights %}
<script type="text/javascript">

sight_list[count] = [];

sight_list[count][0]='{{sight.title}}'
sight_list[count][1]='{{sight.url}}'
count+=1

</script>
{%endfor%}

<script type="text/javascript"> count = 0 </script>

{% for restaurant in restaurants %}
<script type="text/javascript">

rest_list[count] = [];

rest_list[count][0]='{{restaurant.name}}'
rest_list[count][1]='{{restaurant.yelp_link}}'
count+=1

</script>
{%endfor%} 
 

{% for count in duration %}


<table id="table_id{{count}}" class="display">

	<thead> 
        <tr>
            <th> Day {{forloop.counter}} (Sight & Food)</th>
        </tr>
    </thead>
    <tbody>
         <tr>
            <td><strong> Morning </strong> </td>
          </tr>
          <tr>
            <td id="morning.sight.{{forloop.counter}}">  </td>
          </tr>
          <tr>
            <td id="morning.restaurant.{{forloop.counter}}">  </td>
          </tr>
 		  <tr>
            <td><strong> Afternoon </strong> </td>
          </tr>
          <tr>
            <td id="afternoon.sight.{{forloop.counter}}">  </td>
          </tr>
           <tr>
            <td id="afternoon.restaurant.{{forloop.counter}}">  </td>
          </tr>
         <tr>
            <td><strong> Evening </strong></td>
          </tr>
          <tr>
            <td id="evening.sight.{{forloop.counter}}">  </td>
          </tr>
           <tr>
            <td id="evening.restaurant.{{forloop.counter}}">  </td>
          </tr>
    </tbody>  

</table> 

<script type="text/javascript">

  //console.log("sug", sight_list, "rest", rest_list, "count", '{{count}}');


            document.getElementById('morning.sight.{{forloop.counter}}').innerHTML = "<a href="+sight_list[parseInt('{{count}}')*3][1]+">"+sight_list[parseInt('{{count}}')*3][0]+"</a>"
            document.getElementById('afternoon.sight.{{forloop.counter}}').innerHTML = "<a href="+sight_list[parseInt('{{count}}')*3+1][1]+">"+sight_list[parseInt('{{count}}')*3+1][0]+"</a>"
            document.getElementById('evening.sight.{{forloop.counter}}').innerHTML = "<a href="+sight_list[parseInt('{{count}}')*3+2][1]+">"+sight_list[parseInt('{{count}}')*3+2][0]+"</a>"

            document.getElementById('morning.restaurant.{{forloop.counter}}').innerHTML = "<a href="+rest_list[parseInt('{{count}}')*3][1]+">"+rest_list[parseInt('{{count}}')*3][0]+"</a>"
            document.getElementById('afternoon.restaurant.{{forloop.counter}}').innerHTML = "<a href="+rest_list[parseInt('{{count}}')*3+1][1]+">"+rest_list[parseInt('{{count}}')*3+1][0]+"</a>"
            document.getElementById('evening.restaurant.{{forloop.counter}}').innerHTML = "<a href="+rest_list[parseInt('{{count}}')*3+2][1]+">"+rest_list[parseInt('{{count}}')*3+2][0]+"</a>"
</script>

 
{%endfor %}
 
{% endblock %}
